@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;300;400;500;600&display=swap');

html * {
	font-family: 'Inter Tight', sans-serif;
}

body {
	background-color: #f1f5fe;
	padding: 0 5rem;
}

.list-container {
	display: flex;
	/* border: solid #4285f4 2px; */
	flex-direction: column;
	margin: 1rem;
	border-radius: 1rem;
}

ul {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

li {
	list-style: none;
	/* padding: 0.8rem 0; */
	margin: 0 0;
	display: flex;
	/* border: solid rgb(223, 242, 250) 1px; */
	border-radius: 0.5rem;
	position: relative;
	background-color: white;
}

li > span.fa-flag {
	width: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ccd0d8;
	font-size: 1.3rem;
	border-right: solid #f1f5fe 3px;
	padding: 1rem 0;
	cursor: pointer;
}

li > span.fa-flag:hover {
	color: rgb(255, 143, 143);
	cursor: pointer;
}

li > span.todoName {
	width: 70%;
	padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
}

li > span.fa-trash-can {
	width: 100%;
	height: 100%;
	position: absolute;
	border: solid rgb(255, 187, 187) 2px;
	border-radius: 0.5rem;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

header {
	display: flex;
	justify-content: center;
}
.completed {
	color: gray;
	text-decoration: line-through;
}

/* CHECKBOX STYLING */

div.checkbox {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
}

.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkbox-container {
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 20px;
	user-select: none;
}

/* Create a custom checkbox */
.checkmark {
	position: relative;
	top: 0;
	left: 0;
	height: 1.3em;
	width: 1.3em;
	background-color: #ccc;
	transition: all 0.3s;
	border-radius: 5px;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
	background-color: #47da99;
	animation: pop 0.5s;
	animation-direction: alternate;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
	left: 0.45em;
	top: 0.25em;
	width: 0.33em;
	height: 0.6em;
	border: solid white;
	border-width: 0 0.15em 0.15em 0;
	transform: rotate(45deg);
}

@keyframes pop {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.9);
	}

	100% {
		transform: scale(1);
	}
}
